/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}

/* 
từ ngoài vào trong 
từ trên xuông dưới
tổng quan đến chi tiết
*/
/* 
1. vị trí
2. kích thước ( width height )
3. màu sắc
4.kiểu dáng(kiểu chữ, hình vuông, hình ... ) */
#wrapper{

}

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    z-index: 1;

}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;

}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a, #nav .subnav li:hover a{
    color: #000;
    background-color: #ccc;
    
}
#nav .subnav{
    display: none;
    min-width: 160px;
    top: 100%;
    left: 0;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    
}
#nav .nav-arrow-down{
    font-size: 14px;
}

#nav .subnav a{
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#header .search-btn{
    float: right;
    padding: 0 21px;
    

}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}


#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url(../img/slider/slide1.jpg) top center / cover no-repeat ;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color:  #fff;
    right: 0;
    left: 0;
    /* width: 100%; */
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;

}

#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}

#slider .text-description{
    font-size: 15px;
    margin-top: 25px;


}

#content{
    height: 1000px;
    
}
#content .content-section {
    width: 800px;
    margin: 64px;
    margin-left: auto;
    margin-right: auto
}

#footer{

}
